templates/TaxiV1.4.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b43ebb45-016e-1000-5488-48dfd8b060b0</groupId>
    <name>TaxiV1.4</name>
    <snippet>
        <connections>
            <id>01aaed9d-b19a-3a64-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>47803f3f-04db-3b86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>f8b5b628-4741-3882-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0c9b5ac5-f388-3afc-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2128.7662353515625</x>
                <y>396.73907470703125</y>
            </bends>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>f8b5b628-4741-3882-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e8415ed4-a522-37c2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>15ed9d68-3188-3a1a-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>4e5e558c-7141-3daa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fead533e-8e9a-3a59-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>23b169ef-257c-39ff-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>bee45707-ff40-36c2-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>4e5e558c-7141-3daa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>32ee94a2-1051-3018-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>f4b5e0a3-48ee-3c97-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e3010bd9-71b5-3439-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4c26131b-a58f-3890-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fead533e-8e9a-3a59-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>47803f3f-04db-3b86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>51228072-c446-30f2-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e170069d-af38-37e4-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>5a256355-2d38-32bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5e2c2dd8-31d3-37c4-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc068e3a-1786-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>5a256355-2d38-32bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6046cd2e-8407-3afe-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e3010bd9-71b5-3439-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc909b2d-4218-351d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b8120f0-e554-34d1-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>5a256355-2d38-32bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>894aa420-883f-32ce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6e6f44d2-6c8a-3497-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>eb715afd-05be-3e9e-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>894aa420-883f-32ce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>782afa18-96ed-3eb1-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>a034665a-9713-3049-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fd1e73d0-eb9f-3f74-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7da9786a-3552-3b05-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc909b2d-4218-351d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>c2cdfe0d-dc46-36a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>81e3c517-ec36-3152-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>894aa420-883f-32ce-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>eaa4fe18-f32f-33df-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8430a9b7-732f-3c02-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fd1e73d0-eb9f-3f74-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>47803f3f-04db-3b86-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>be822e9c-6670-3ee0-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2820.102294921875</x>
                <y>702.5718994140625</y>
            </bends>
            <bends>
                <x>2620.102294921875</x>
                <y>710.5718994140625</y>
            </bends>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc068e3a-1786-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc068e3a-1786-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c3266c9e-3d94-396c-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>c2cdfe0d-dc46-36a2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e4b14c4d-dc94-3827-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c9a51c24-180e-3fdc-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fc04164c-a012-3a64-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>not.found</selectedRelationships>
            <selectedRelationships>permission.denied</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>f8b5b628-4741-3882-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ec2246ae-3ff6-3f1a-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>e8415ed4-a522-37c2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>dd7b8ae3-df8e-3be0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ee1c1b18-ce37-33e3-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
            <destination>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>cc068e3a-1786-3e12-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>splits</selectedRelationships>
            <source>
                <groupId>08a7ce5f-f44a-3acd-0000-000000000000</groupId>
                <id>fd1e73d0-eb9f-3f74-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>19015514-2a82-3cbb-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>raw</key>
                    <value>
                        <name>raw</name>
                    </value>
                </entry>
            </descriptors>
            <name>Batch - Avro Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>raw</key>
                    <value>{
  "type" : "record",
  "name" : "Raw",
  "namespace" : "com.batch.raw",
  "fields" : [ {
    "name" : "vendor_id",
    "type" : "string"
  }, {
    "name" : "pickup_datetime",
    "type" : "string"
  }, {
    "name" : "dropoff_datetime",
    "type" : "string"
  }, {
    "name" : "passenger_count",
    "type" : "long"
  }, {
    "name" : "trip_distance",
    "type" : "double"
  }, {
    "name" : "pickup_longitude",
    "type" : "double"
  }, {
    "name" : "pickup_latitude",
    "type" : "double"
  }, {
    "name" : "rate_code",
    "type" : [ "string", "null" ]
  }, {
    "name" : "store_and_fwd_flag",
    "type" : [ "string", "null" ]
  }, {
    "name" : "dropoff_longitude",
    "type" : "double"
  }, {
    "name" : "dropoff_latitude",
    "type" : "double"
  }, {
    "name" : "payment_type",
    "type" : "string"
  }, {
    "name" : "fare_amount",
    "type" : "double"
  }, {
    "name" : "surcharge",
    "type" : "long"
  }, {
    "name" : "tip_amount",
    "type" : "long"
  }, {
    "name" : "tolls_amount",
    "type" : "long"
  }, {
    "name" : "total_amount",
    "type" : "double"
  }, {
    "name" : "payment_lookup",
    "type" : ["string","null"]
  }, {
    "name" : "name",
    "type" : ["string","null"]
  }, {
    "name" : "address",
    "type" : ["string","null"]
  }, {
    "name" : "city",
    "type" : ["string","null"]
  }, {
    "name" : "state",
    "type" : ["string","null"]
  }, {
    "name" : "zip",
    "type" : ["string","null"]
  }, {
    "name" : "country",
    "type" : ["string","null"]
  }, {
    "name" : "contact",
    "type" : ["string","null"]
  }, {
    "name" : "current",
    "type" : ["string","null"]
  }, {
    "name" : "duration",
    "type" : ["string","null"]
  }, {
    "name" : "weekday",
    "type" : ["string","null"]
  }, {
    "name" : "pickup_location",
    "type" : ["string","null"]
  }, {
    "name" : "dropoff_location",
    "type" : ["string","null"]
  } ]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>67d11e69-31af-3cca-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-lookup-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>csv-file</key>
                    <value>
                        <name>csv-file</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>
                        <name>Character Set</name>
                    </value>
                </entry>
                <entry>
                    <key>lookup-key-column</key>
                    <value>
                        <name>lookup-key-column</name>
                    </value>
                </entry>
                <entry>
                    <key>lookup-value-column</key>
                    <value>
                        <name>lookup-value-column</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-duplicates</key>
                    <value>
                        <name>ignore-duplicates</name>
                    </value>
                </entry>
            </descriptors>
            <name>Batch - Payment Lookup</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>csv-file</key>
                    <value>/opt/schemas/data-payment_lookup-csv.csv</value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>Default</value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>lookup-key-column</key>
                    <value>A</value>
                </entry>
                <entry>
                    <key>lookup-value-column</key>
                    <value>B</value>
                </entry>
                <entry>
                    <key>ignore-duplicates</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.lookup.SimpleCsvFileLookupService</type>
        </controllerServices>
        <controllerServices>
            <id>87a1a109-ba38-3cc8-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-parquet-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-type</key>
                    <value>
                        <name>compression-type</name>
                    </value>
                </entry>
                <entry>
                    <key>row-group-size</key>
                    <value>
                        <name>row-group-size</name>
                    </value>
                </entry>
                <entry>
                    <key>page-size</key>
                    <value>
                        <name>page-size</name>
                    </value>
                </entry>
                <entry>
                    <key>dictionary-page-size</key>
                    <value>
                        <name>dictionary-page-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-padding-size</key>
                    <value>
                        <name>max-padding-size</name>
                    </value>
                </entry>
                <entry>
                    <key>enable-dictionary-encoding</key>
                    <value>
                        <name>enable-dictionary-encoding</name>
                    </value>
                </entry>
                <entry>
                    <key>enable-validation</key>
                    <value>
                        <name>enable-validation</name>
                    </value>
                </entry>
                <entry>
                    <key>writer-version</key>
                    <value>
                        <name>writer-version</name>
                    </value>
                </entry>
                <entry>
                    <key>avro-write-old-list-structure</key>
                    <value>
                        <name>avro-write-old-list-structure</name>
                    </value>
                </entry>
                <entry>
                    <key>avro-add-list-element-records</key>
                    <value>
                        <name>avro-add-list-element-records</name>
                    </value>
                </entry>
            </descriptors>
            <name>Batch - Parquet Writer</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>19015514-2a82-3cbb-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>raw</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>compression-type</key>
                    <value>SNAPPY</value>
                </entry>
                <entry>
                    <key>row-group-size</key>
                </entry>
                <entry>
                    <key>page-size</key>
                </entry>
                <entry>
                    <key>dictionary-page-size</key>
                </entry>
                <entry>
                    <key>max-padding-size</key>
                </entry>
                <entry>
                    <key>enable-dictionary-encoding</key>
                </entry>
                <entry>
                    <key>enable-validation</key>
                </entry>
                <entry>
                    <key>writer-version</key>
                </entry>
                <entry>
                    <key>avro-write-old-list-structure</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>avro-add-list-element-records</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>9f1e1938-4815-3d54-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-lookup-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>csv-file</key>
                    <value>
                        <name>csv-file</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>
                        <name>Character Set</name>
                    </value>
                </entry>
                <entry>
                    <key>lookup-key-column</key>
                    <value>
                        <name>lookup-key-column</name>
                    </value>
                </entry>
                <entry>
                    <key>lookup-value-column</key>
                    <value>
                        <name>lookup-value-column</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-duplicates</key>
                    <value>
                        <name>ignore-duplicates</name>
                    </value>
                </entry>
            </descriptors>
            <name>Batch - Vendor Lookup</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>csv-file</key>
                    <value>/opt/schemas/data-vendor_lookup-csv.csv</value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>Default</value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>lookup-key-column</key>
                    <value>vendor_id</value>
                </entry>
                <entry>
                    <key>lookup-value-column</key>
                    <value>name</value>
                </entry>
                <entry>
                    <key>ignore-duplicates</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.lookup.SimpleCsvFileLookupService</type>
        </controllerServices>
        <controllerServices>
            <id>a9994077-6348-36ce-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>Batch - Json Reader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>19015514-2a82-3cbb-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>raw</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>e37cbc61-b198-3377-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>Bash - JsonWritter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>19015514-2a82-3cbb-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>raw</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <funnels>
            <id>a034665a-9713-3049-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1781.0</x>
                <y>736.0</y>
            </position>
        </funnels>
        <funnels>
            <id>bee45707-ff40-36c2-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1037.0</x>
                <y>984.0</y>
            </position>
        </funnels>
        <funnels>
            <id>e170069d-af38-37e4-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>4197.0</x>
                <y>576.0</y>
            </position>
        </funnels>
        <funnels>
            <id>eb715afd-05be-3e9e-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>4165.0</x>
                <y>352.0</y>
            </position>
        </funnels>
        <funnels>
            <id>fc04164c-a012-3a64-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1029.0</x>
                <y>384.0</y>
            </position>
        </funnels>
        <labels>
            <id>7715ecc5-edac-32d2-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1677.0</x>
                <y>16.0</y>
            </position>
            <height>72.0</height>
            <label>BATCH CONSUME AREA
(ETL)</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#7b2eff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>22px</value>
                </entry>
            </style>
            <width>264.0</width>
        </labels>
        <labels>
            <id>9bff76c4-d5ae-3bcd-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>3533.0</x>
                <y>0.0</y>
            </position>
            <height>72.0</height>
            <label>STREAM CONSUME AREA</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#4bdba9</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>22px</value>
                </entry>
            </style>
            <width>288.0</width>
        </labels>
        <labels>
            <id>b5ff5838-08dd-3d08-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>48.0</x>
                <y>13.0</y>
            </position>
            <height>72.0</height>
            <label>BATCH CONSUME AREA
(ELT)</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#ff3d81</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>22px</value>
                </entry>
            </style>
            <width>264.0</width>
        </labels>
        <processors>
            <id>47803f3f-04db-3b86-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1325.0</x>
                <y>528.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>result_${uuid}.snappy.parquet</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Change file name</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>4e5e558c-7141-3daa-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1325.0</x>
                <y>936.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/opt/data/datalake/year=${now():format('yyyy','America/Sao_Paulo')}/month=${now():format('MM','America/Sao_Paulo')}/day=${now():format('dd','America/Sao_Paulo')}/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Save result to datalake</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>5a256355-2d38-32bd-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>3509.0</x>
                <y>544.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                            <name>lookup-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>
                            <name>result-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>
                            <name>routing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>
                            <name>result-contents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>e37cbc61-b198-3377-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>67d11e69-31af-3cca-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>/payment_lookup</value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>route-to-success</value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>insert-entire-record</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>/payment_type</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Enrichment w/ Payment data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
            <id>894aa420-883f-32ce-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>3501.0</x>
                <y>320.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                            <name>lookup-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>
                            <name>result-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>
                            <name>routing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>
                            <name>result-contents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>e37cbc61-b198-3377-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>9f1e1938-4815-3d54-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>/name</value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>route-to-matched-unmatched</value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>insert-entire-record</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>/vendor_id</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Enrichment w/ Vendor data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
            <id>c2cdfe0d-dc46-36a2-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>293.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File to Fetch</key>
                        <value>
                            <name>File to Fetch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>
                            <name>Completion Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>
                            <name>Move Destination Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>
                            <name>Move Conflict Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>
                            <name>Log level when file not found</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>
                            <name>Log level when permission denied</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File to Fetch</key>
                        <value>${absolute.path}/${filename}</value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>Rename</value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>ERROR</value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>ERROR</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Retrieve file</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>not.found</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>permission.denied</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FetchFile</type>
        </processors>
        <processors>
            <id>cc068e3a-1786-3e12-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>2565.0</x>
                <y>528.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>
                            <name>elasticsearch-http-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>
                            <name>elasticsearch-http-connect-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>
                            <name>elasticsearch-http-response-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                        <value>
                            <name>elasticsearch-http-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                        <value>
                            <name>elasticsearch-http-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                        <value>
                            <name>proxy-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                        <value>
                            <name>proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-all-errors</key>
                        <value>
                            <name>put-es-record-log-all-errors</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index</key>
                        <value>
                            <name>put-es-record-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type</key>
                        <value>
                            <name>put-es-record-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>suppress-nulls</key>
                        <value>
                            <name>suppress-nulls</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Date Format</key>
                        <value>
                            <name>Date Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Time Format</key>
                        <value>
                            <name>Time Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Timestamp Format</key>
                        <value>
                            <name>Timestamp Format</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>http://localstack:4571</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                    </entry>
                    <entry>
                        <key>put-es-record-record-reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-record-writer</key>
                        <value>e37cbc61-b198-3377-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-all-errors</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index</key>
                        <value>data</value>
                    </entry>
                    <entry>
                        <key>put-es-record-type</key>
                        <value>doc</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>suppress-nulls</key>
                        <value>never-suppress</value>
                    </entry>
                    <entry>
                        <key>Date Format</key>
                    </entry>
                    <entry>
                        <key>Time Format</key>
                    </entry>
                    <entry>
                        <key>Timestamp Format</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Index on Elasticsearch</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttpRecord</type>
        </processors>
        <processors>
            <id>cc909b2d-4218-351d-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>477.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>result_${uuid}.snappy.parquet</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Change file name</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>dd7b8ae3-df8e-3be0-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1325.0</x>
                <y>120.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>
                            <name>Input Directory Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>
                            <name>Include File Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>
                            <name>et-node-identifier</name>
                        </value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>
                            <name>track-performance</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>
                            <name>max-performance-metrics</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>
                            <name>max-operation-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>
                            <name>max-listing-time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/opt/inbox</value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>timestamps</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>millis</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>${hostname()}</value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>10 secs</value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>3 mins</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Monitor success file</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
            <id>e3010bd9-71b5-3439-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>669.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>87a1a109-ba38-3cc8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Convert Parquet</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>e4b14c4d-dc94-3827-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>109.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>
                            <name>Input Directory Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>
                            <name>Include File Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>
                            <name>et-node-identifier</name>
                        </value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>
                            <name>track-performance</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>
                            <name>max-performance-metrics</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>
                            <name>max-operation-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>
                            <name>max-listing-time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/opt/inbox</value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>timestamps</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>millis</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>${hostname()}</value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>10 secs</value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>3 mins</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Monitor success file</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
            <id>e8415ed4-a522-37c2-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1957.0</x>
                <y>128.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>success</key>
                        <value>
                            <name>success</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>success</key>
                        <value>${absolute.path:contains('_temporary'):not():and(${filename:equals('_SUCCESS'):not()})}</value>
                    </entry>
                </properties>
                <runDurationMillis>2000</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Check consumable files</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>eaa4fe18-f32f-33df-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>3501.0</x>
                <y>88.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Base Path</key>
                        <value>
                            <name>Base Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Listening Port</key>
                        <value>
                            <name>Listening Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Data to Receive per Second</key>
                        <value>
                            <name>Max Data to Receive per Second</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Authorized DN Pattern</key>
                        <value>
                            <name>Authorized DN Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Unconfirmed Flowfile Time</key>
                        <value>
                            <name>Max Unconfirmed Flowfile Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP Headers to receive as Attributes (Regex)</key>
                        <value>
                            <name>HTTP Headers to receive as Attributes (Regex)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Code</key>
                        <value>
                            <name>Return Code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>
                            <name>multipart-request-max-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>
                            <name>multipart-read-buffer-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Base Path</key>
                        <value>taxiStream</value>
                    </entry>
                    <entry>
                        <key>Listening Port</key>
                        <value>8989</value>
                    </entry>
                    <entry>
                        <key>Max Data to Receive per Second</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Authorized DN Pattern</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Max Unconfirmed Flowfile Time</key>
                        <value>60 secs</value>
                    </entry>
                    <entry>
                        <key>HTTP Headers to receive as Attributes (Regex)</key>
                    </entry>
                    <entry>
                        <key>Return Code</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>multipart-request-max-size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>multipart-read-buffer-size</key>
                        <value>512 KB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Streaming - Receive events</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
        </processors>
        <processors>
            <id>f4b5e0a3-48ee-3c97-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>861.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/opt/data/datalake/year=${now():format('yyyy','America/Sao_Paulo')}/month=${now():format('MM','America/Sao_Paulo')}/day=${now():format('dd','America/Sao_Paulo')}/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Save result to datalake</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>f8b5b628-4741-3882-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1333.0</x>
                <y>336.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File to Fetch</key>
                        <value>
                            <name>File to Fetch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>
                            <name>Completion Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>
                            <name>Move Destination Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>
                            <name>Move Conflict Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>
                            <name>Log level when file not found</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>
                            <name>Log level when permission denied</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File to Fetch</key>
                        <value>${absolute.path}/${filename}</value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                    </entry>
                    <entry>
                        <key>Move Conflict Strategy</key>
                        <value>Rename</value>
                    </entry>
                    <entry>
                        <key>Log level when file not found</key>
                        <value>ERROR</value>
                    </entry>
                    <entry>
                        <key>Log level when permission denied</key>
                        <value>ERROR</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Retrieve file</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not.found</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>permission.denied</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FetchFile</type>
        </processors>
        <processors>
            <id>fd1e73d0-eb9f-3f74-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1973.0</x>
                <y>528.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Record Reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>Record Reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>Record Writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Records Per Split</key>
                        <value>
                            <name>Records Per Split</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Record Reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Record Writer</key>
                        <value>e37cbc61-b198-3377-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Records Per Split</key>
                        <value>5000</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - SplitRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitRecord</type>
        </processors>
        <processors>
            <id>fead533e-8e9a-3a59-0000-000000000000</id>
            <parentGroupId>08a7ce5f-f44a-3acd-0000-000000000000</parentGroupId>
            <position>
                <x>1317.0</x>
                <y>728.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>a9994077-6348-36ce-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>87a1a109-ba38-3cc8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Batch - Convert Parquet</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
    </snippet>
    <timestamp>11/30/2019 05:38:38 UTC</timestamp>
</template>
